*
!.gitignore
!configs
!configs/war3source.ini
!configs/war3sourceMVM.ini

!gamedata
!gamedata/war3source.games
!gamedata/war3source.games/*

!scripting
!scripting/include
!scripting/include/war3source*
!scripting/include/GAME_SWITCHER
!scripting/include/GAME_SWITCHER/currentgame.inc
!scripting/War3Source
!scripting/War3Source/include
!scripting/War3Source/include/*
!scripting/W3SIncs
!scripting/W3SIncs/*
!scripting/War3Source*

!translations
!translations/w3s*